{% extends 'base.html' %}
{% block content %}
    {{ data_curenta }}
    <br>
    <a class="btn btn-primary" href="{% url 'locatie:adaugare' %}">Adaugare locatii</a>
    <table class="table">
        <thead>
            <tr>
                <th>Index</th>
                <th>City</th>
                <th>Country</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in location_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.city }}</td>
                    <td>{{ item.country }}</td>
                    <td>
                        {% if item.active == 0 %}
                            Inactiv
                        {% else %}
                            Activ
                        {% endif %}
                    </td>
                    <td>
                        {% if item.active == 0 %}
                            <a class="btn btn-danger" href="{% url 'locatie:activare' item.id %}">Activare</a>
                        {% else %}
                            <a class="btn btn-success" href="{% url 'locatie:modificare' item.id %}">Editare</a>
                            <a class="btn btn-danger" href="{% url 'locatie:dezactivare' item.id %}">Dezactivare</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}